@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../images/Portfolio_Wireframe_light3.png);
    background-size: cover;
}

.max-width{
    max-width:1300px;
    padding: 0 80px;
    margin: auto;
}
.navigation-bar{
    position: fixed;
    width: 100%;
    background-color: black;
    background-blend-mode: overlay;
    padding: 15px 0;
    border-bottom: 1px solid #920000;
}

.navigation-bar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .logo a{
    font-size: 35px;
    color: white;
    font-weight: 700 ;
}
.navigation-bar .logo a span{
    color: #920000;
}
.navigation-bar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
    padding: 29px 25px;
    
    
}
.navigation-bar .menu li{
    list-style: none;
    display: inline-block;
}

.navigation-bar .menu li a:hover{
    background-color: #920000;
}


#selfie{
    position: static;
    width: 392px;
    height: 464px;
    margin-top: 205px;
    margin-right: 637px;
    float: right;  
    z-index: 0;
}

#name{
    display: inline-block;
    position: absolute;
    color: black;
    margin-top: 200px;
    margin-left: 105px;
    font-size: 60px;
    z-index: -1;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-left: 10px;
    
}

.details{
    color: black;
    -webkit-text-stroke: 0.6px black;
    display: inline-block;
    position: absolute;
    margin-top: 390px;
    margin-left: 105px;
    font-size: 17.3px;
    font-weight: 100px;
}
.details2{
    color: black;
    -webkit-text-stroke: 0.6px black;
    display: inline-block;
    position: absolute;
    margin-top: 205px;
    margin-left: 850px;
    font-size: 17.3px;
    max-width: 400px;
    
}

.details2 p:first-child{
    margin-top: 20px;
    font-weight: 500;
    border-bottom: 1px solid black;
}

.details2 .smalldetails p:first-child{
    font-weight: 300;
    border-bottom: none;
}
.details2 .smalldetails p:last-child{
    font-weight: 300;
}


.contact-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin-top: 100px;
    
}

.facebook-link{
    border: 1px solid black;
    padding: 50px;
    width: 25%;
    height: 25% ;
    
}
.facebook-link img{
    width: 200px;
    height: 200px;
}

.twitter-link{
    border: 1px solid black;
    padding: 50px;
    width: 25%;
    height: 25% ;

}
.twitter-link img{
    width: 200px;
    height: 200px;
}
.github-link{
    border: 1px solid black;
    padding: 50px;
    width: 25%;
    height: 25% ;
   
}
.github-link img{
    width: 200px;
    height: 200px;
}

.email-link{
    border: 1px solid black;
    padding: 50px;
    width: 25%;
    height: 25% ;
    
}
.email-link img{
    width: 200px;
    height: 200px;
}