@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,500;0,600;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(../images/Portfolio_Wireframe_light3.png);
    background-size: cover;
}

.max-width{
    max-width:1300px;
    padding: 0 80px;
    margin: auto;
}
.navigation-bar{
    position: fixed;
    width: 100%;
    background-color: black;
    background-blend-mode: overlay;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
    border-bottom: 1px solid #920000;
}

.navigation-bar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar .logo a{
    font-size: 35px;
    color: white;
    font-weight: 700 ;
}
.navigation-bar .logo a span{
    color: #920000;
}
.navigation-bar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
    margin-left: 25px;
}
.navigation-bar .menu li{
    list-style: none;
    display: inline-block;
}

.navigation-bar .menu li a:hover{
    color: #920000;
}


#selfie{
    position: static;
    width: 392px;
    height: 464px;
    margin-top: 170px;
    margin-right: 637px;
    float: right;  
    z-index: 0;
}

#name{
    display: inline-block;
    position: absolute;
    color: black;
    margin-top: 200px;
    margin-left: 105px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-left: 10px;
    
}

.details{
    color: black;
    -webkit-text-stroke: 0.6px black;
    display: inline-block;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    margin-top: 390px;
    margin-left: 105px;
    font-size: 17.3px;
    font-weight: 100px;
}



